# Java y Maven
target/
*.class
*.jar
*.war

# Temporales de editores
*.save
*.swp
.DS_Store

# IDEs
.idea/
.vscode/
*.iml

# Flutter
build/
.flutter-plugins
.flutter-plugins-dependencies
android_app/src/main/resources/application.properties
